---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import UserForm from '../components/UserForm.astro';
---

<Layout>
  <h1>Test Firebase with Astro</h1>
  <UserForm />
</Layout>
