---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import UserDataDisplay from '../components/UserDataDisplay.jsx';

const userId = "sayed@gmail.com"; // Replace with the document ID you want to display
---

<Layout>
  <h1>User Information</h1>
  <UserDataDisplay userId={userId} client:load />
</Layout>
