---
export interface Props {
    class?: string
    id?: string,
    wide?: boolean
    lighter?: boolean
}

const {
	class: className,
	id: id,
    wide = false,
    lighter = false
} = Astro.props
---

<div class:list={[className, `${!wide ?? "max-w-7xl mx-auto px-6 md:px-12 xl:px-6"}`]} id={id}>
    <div class="flex justify-center">
        <div class=`w-full h-px bg-zinc-900`></div>
    </div>
</div>